<main>
    <mat-card>
        <form
        fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="1rem"
            (ngSubmit)="login()"
            [formGroup]="loginForm"
        >
            <mat-form-field>
                <input
                    [formControl]="username"
                    type="text"
                    matInput
                    placeholder="username"
                >
                <mat-error *ngIf="username.hasError('required')">Required</mat-error>
            </mat-form-field>
            <mat-form-field>
                <input
                    [formControl]="password"
                    type="password"
                    matInput
                    placeholder="password"
                >
                <mat-error *ngIf="username.hasError('required')">Required</mat-error>
            </mat-form-field>

            <button
                [disabled]="loginForm.invalid"
                type="submit"
                mat-raised-button
                color="primary"
            >
                Log In
            </button>

            <mat-error *ngIf="error">{{error}}</mat-error>
        </form>

    </mat-card>
</main>
